
div.light-theme{
background-color: #fff;
color: black;
display: flex;
}
div.dark-theme{
    background-color:#000;
    color:#fff;
    display: flex;
    }   
p{
margin: auto;
}
button{
height: 100px;
width: 200px;
}